

.technosec01{background: #051019 url(../images/technobg01.jpg) no-repeat top center; background-size:cover; padding: 5em 0;}
.technosec01 h2{padding-left:20px; border-top: 1px solid #2960a3; padding-top:20px;}
.technosec01 .technosec01-a{margin-left:13em; margin-top:5em;}
.technosec01 .technosec01-a h2{padding-left:0px; border-top: 0px solid #2960a3; padding-top:20px; color:#fff; font-size:32px;}
.technosec01 .technosec01-a p{color:#fff;}



.technosec02{background: #051019 url(../images/technobg02.jpg) no-repeat top center; background-size:cover; padding: 5em 0;}
.technosec02 img {float:right; }
.technosec02-0{background:#2961a1; color:#fff; padding:50px;}
.technosec02 .technosec01-b{margin-left: 8em;}
.technosec02 .technosec01-a{margin-right:13em; margin-top:5em;}
.technosec02 .technosec01-a h2{padding-left:0px; border-top: 0px solid #2960a3; padding-top:20px; color:#1e2229; font-size:32px;}
.technosec02 .technosec01-a p{color:#1e2229;}
.technosec01-b { margin-right: 6rem;}



.technosec03{background: #051019 url(../images/technobg03.jpg) no-repeat top center; background-size:cover; padding: 5em 0;}
.technosec03 h2{padding-left:20px; border-top: 1px solid #2960a3; padding-top:20px;}
.technosec03 .technosec01-a{margin-left:13em; margin-top:5em;}
.technosec03 .technosec01-a h2{padding-left:0px; border-top: 0px solid #2960a3; padding-top:20px; color:#fff; font-size:32px;}
.technosec03 .technosec01-a p{color:#fff;}

.technosec04{background: #fff; padding: 10px 0;}
.technosec04 h2{padding:20px 0; text-align:center; font-size:32px; color:#1e2229;}
.technosec04 .technosec04-a{width:80%; margin:0 10%;}

.technosec04 .technosec04-a .image{background: #202122 url(../images/mowl-01-bg.jpg) no-repeat bottom center; min-height:685px;}
.technosec04 .technosec04-a h2{color:#fff; text-align:center; padding:0; }





.technosec05{background: #b9cfdb url(../images/technobg05.jpg) no-repeat top center; background-size:cover; padding: 5em 0;}
.technosec05 .technosec01-a{margin-left:13em; margin-top:5em;}
.technosec05 .technosec01-a h2{padding-left:0px; border-top: 0px solid #2960a3; padding-top:20px; color:#1e2229; font-size:32px;}
.technosec05 .technosec01-a p{color:#1e2229;}
.technosec05 .homedemo5{background:none;}
.technosec05 .technosec01-b{width:80%; margin:0 10%;}
.technosec05 .technosec01-b .owl-carousel .owl-item img{border-radius:50%; border:5px solid #fff;}


.csrsec01 h2{padding-left:20px; border-top: 1px solid #2960a3; padding-top:20px;}
.csrsec02{ margin-top:50px;}
.csrsec02 img.rightside {float:right; margin-right: -4em;}
.csrsec02-0{color:#2961a1; font-size:17px;}





.clientsgh h2{font-size: 32px; color: #1e2228; text-align:center;
    font-weight: bold;
    line-height: normal;
    margin-bottom: -60px;}
	
	
.contactus h1{font-size: 60px; color: #2960a3;
    font-weight: bold;
    line-height: normal;text-align: left;
    margin-bottom: 50px;}
	
	
.crssec01 h2{padding-left:20px; border-top: 1px solid #2960a3; padding-top:20px;}

.crssec02{ margin:50px 0;}
.crssec02 img {float:right; margin-right:0;}
.crssec02-0{background:#2961a1; color:#fff; padding:50px; font-size:34px; width: 80%;float: left;}
.crssec02 h2{padding-left:20px; border-top: 0px solid #2960a3; padding-top:20px;}

.crssec03{ margin:50px 0;}
.crssec03 img {float:right; margin-right:0;}
.crssec03-0{background:#eb5e2a; color:#fff; padding:50px; font-size:34px; width: 80%; float: left;}



.crssec03img{ width: 100%; float: left; margin-bottom: 10em;}

.imgright img{float:right;}
.imgleft img{float:left; margin-left: 5em; }


.prctable img{width: 80%; margin:0 10%;}


.about-second-p .d-flex .box{width: 20%;}

.deepsec01 h2.headpart{text-align:center; margin-top:2em;}

.about-first-p{background:#acc3d2;}

.wthhead-abtp01{background: #051019 url(../images/jurbg.jpg) no-repeat top center; background-size:cover; padding: 10em 0;}

.img-j01{float: left; margin-left: -5px; width: 75%;}
.img-j02{float: right; margin-right: 45px; margin-top:10em; width: 75%;}

.img-j03{float: left; margin-left: 5px;}
.img-j04{float: right; margin-right: 45px; margin-top:10em; width: 75%;}

.img-j05{float: left; margin-left: 5px; width: 75%;}
.img-j06{float: right; margin-right: 45px; margin-top:10em;}

.img-j07{float: left; margin-left: 5px; width: 75%;}
.img-j08{float: right; margin-right: 45px; margin-top:10em; width: 75%;}

.img-j09{float: left; margin-left: 5px; width: 75%;}


.gerthterow{background: #2960a3;}

.deepsec02{background: #d8e5ed url(../images/abut-bg.webp) no-repeat top center; background-size:cover; padding: 0px 0; margin:0;}
.deepsec02 .deepsec02-02{margin-left:13em;}
.deepsec02 .deepsec02-02 h2{color:#1e2329;}
.deepsec02 .deepsec02-02 p{color:#1e2329;}


.deepsec04{background: #051019 url(../webimages/testibg.webp) no-repeat top center; background-size:cover; padding: 50px 0; margin:0;}
.deepsec04 h2{padding-left:0px; border-top: 0px solid #2960a3; padding-top:0px; color:#fff; font-size:32px; text-align: center;}
.deepsec04 p{color:#fff;}
p.t-name{font-size: 20px;font-weight: bold; text-align: center;}

.deepsec04-a0{width:80%; margin:0 10%;}

.deepsec02 .row, .deepsec04 .row{margin:0 !important;}

.clientsgh{width:100%; padding:0 10%; float:left; background:#c3d7e1;}
.clintstal{padding:100px 0;}

.contactus{width:100%; padding:100px 10%; float:left; background:#c3d7e1;}
.colleft h2{color: #1e2228;}


.techsusbo{width:90%; margin:0 5%; padding-bottom:50px;}
.techsusbo h2{color: #1e2228; font-size: 32px;margin-bottom: 10px;text-align: center;}


.madeofsteal .colsm8n{margin:10%;}
.madeofsteal .colsm8n h2{color: #1e2228; font-size:40px;}
.madeofsteal .colsm8n p{color: #1e2228;}

.madeofsteal01{ background:#c4dae4;}
.madeofsteal01 .colsm8n{margin:10%;}
.madeofsteal01 .colsm8n h2{color: #1e2228; font-size:40px;}
.madeofsteal01 .colsm8n p{color: #1e2228;}

.madeofsteal02{background: #051019 url(../images/bg-rod.jpg) no-repeat top center; background-size:cover; padding: 50px 0; margin:0;  text-align:center;}
.madeofsteal02n{background: #051019 url(../images/bg-rod2.jpg) no-repeat top center; background-size:cover; padding: 50px 0; margin:0;  text-align:center;}
.madeofsteal02 h2{color: #c4dae4; font-size:40px;}

.csrsec02{background:#c2d8e4; padding:50px 150px;}

.faqsec02{background:#fff; padding:50px 150px; padding-left: 90px;}




.fe550row{margin:0 16%;}
.fe550row h2{background:#334049; font-size: 30px; padding: 50px;}

.fe550row02{margin-left:0em;     
           display: flex;
    justify-content: center;}
.fe550row02 h2{background:#334049; font-size: 30px; padding: 50px;}




.panel-title {color:#1e2228 !important;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: inherit;
    font-weight: bold;
}

.faqsec02-0 .panel-group .panel p{color:#1e2228;}


.faqsec02-0 .panel-group .panel .panel-heading h4 a i{color:#1e2228;}
.faqsec02 .csrsec02-0 {background:#c2d8e4; color: #1e2228;  font-size: 17px; padding:50px;}.pricelistsec01{background: #051019 url(../images/technobg01.jpg) no-repeat top center; background-size:cover; padding: 0em 50px; margin-top:50px;}.pricelistsec01 h2{padding-left:20px; border-top: 1px solid #2960a3; padding-top:20px;}.pricelistsec01 .technosec01-a{margin-left:13em; margin-top:5em;}.pricelistsec01 .technosec01-a h2{padding-left:0px; border-top: 0px solid #2960a3; padding-top:20px; color:#fff; font-size:32px;}.pricelistsec01 .technosec01-a p{color:#fff;}.probox .image{margin:0;}p.csrpra{background:#182128; padding:50px;}