body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    /*color: #818181;*/
    color: #333;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .img-responsive{
	  max-width:100%;
	  width: 100%;
  }
  .jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    padding: 10px 60px 0px 80px;
  }
  
  .navbar .container-fluid {
    padding-top: 0;
	padding-right: 20px;
}
  .navbar .container-fluid .row{
	  margin-right:0;
  }

ul.nav.navbar-nav.navbar-center {
    float: none;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

ul.nav.navbar-nav.navbar-center li {
    float: none;
    display: inline-block;
}
.navbar-default .navbar-nav>li>a {	
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 16px;
    font-weight: bold;	
    border-radius: 10px;
}
ul.nav.navbar-nav.navbar-center::before {
    display: none;
}

ul.nav.navbar-nav.navbar-center::after {
    display: none;
}


.sllder-nav-section .owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.sllder-nav-section .owl-nav button.owl-prev {
  left: 0;
}
.sllder-nav-section .owl-nav button.owl-next {
  right: 0;
}

.sllder-nav-section .owl-dots {
  text-align: center;
  padding-top: 15px;
}
.sllder-nav-section .owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  margin: 0 3px;
}
div#slider1carousel.owl-carousel .owl-nav button.owl-next, 
div#slider1carousel.owl-carousel .owl-nav button.owl-prev, 
div#slider1carousel.owl-carousel button.owl-dot {
    color: #000;
}

div#slider1carousel .owl-dots,
.video-section .owl-dots{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.sllder-nav-section .owl-dots button.owl-dot.active {
  background-color: #f05a21;
}
.sllder-nav-section .owl-dots button.owl-dot:focus {
  outline: none;
}
.sllder-nav-section .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}
.sllder-nav-section span {
    font-size: 70px;    
    position: relative;
    top: -5px;
}
.sllder-nav-section .owl-nav button:focus {
    outline: none;
}

ul.nav.navbar-nav.navbar-center li:first-child a {
    padding-left: 0;
}
ul.nav.navbar-nav.navbar-center li:last-child a {
    padding-right: 0;
}

.rightnav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 16px;
    font-weight: bold;
    color: #4477e2;
}

.rightnav ul li a i.fa {
    margin-right: 10px;
}

.rightnav ul li {
    list-style: none;
    margin: 0 0 10px 0;
}

.rightnav ul {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #4477e2;
    padding-bottom: 10px;
}

.btmright {
    position: absolute;
    bottom: 20px;
    right: 20px;
}


.sllder-nav-section {
    position: relative;
    padding-right: 20px;
}

 
  .sllder-nav-section .rown {
    width: 100%;
}

.rightnavsec {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 20px;
}

div.rightnavsec .rightnav ul li a {
    color: #fff !important;
    font-size: 13px;
}

div.rightnavsec .rightnav ul {
    display: flex;
    flex-wrap: wrap;
    border: 0;
    margin: 0;
    padding: 0;
}

div.rightnavsec .rightnav ul li {
    width: 50%;
    margin: 5px 0;
}

div.rightnavsec .rightnav {
    display: block; width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

a.tollf {
    position: fixed;
    right: 22px;
    bottom: 85px;
    z-index: 999;
    background: #fff;
    padding: 6px;
    border-radius: 100px;
}

a.tollf img {
    max-width: 50px;
    height: auto;
}


div#myNavbar {
    padding-right: 0;
	margin-top:20px;
}


  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: transparent;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #2960a3 !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  
  div.navbar.navbar-default {}

div.navbar.navbar-default a.navbar-brand {
    height: auto;
    margin: 0;
    padding: 10px;
}

div.navbar.navbar-default .header-box { margin-top:20px;
    background: #f05a21;
    height: 50px;
    width: 350px;
    float: right;
	padding-top: 10px;
}

div#slider1carousel.owl-carousel button.owl-dot {
    border-radius: 0;
    width: 40px;
    height: 10px;
}
.video-section.owl-carousel button.owl-dot {
    border-radius: 0;
    width: 40px;
    height: 10px;
}

div.owl-carousel.video-section{
    height:auto;
}


  .leftfixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: #36609d;
    z-index: 6;
    color: #fff;
    display: flex;
	align-items: center;
    justify-content: center;
}
.leftfixed marquee {
    transform: rotate(270deg) rotateY(45deg);
    display: inline-table;
}
.leftfixed span {

    /* word-break: break-word; */
    padding: 0 0px;
	font-size: 26px;
    padding: 0 0px;
    margin: 0 15px;
    line-height: normal;
    white-space: nowrap;

}

.rightcol {
    position: relative;
}

.rightcol span.rightbluepart {
    width: 70%;
    height: 490px;
    background: #4477e2;
    display: block;
    position: absolute;
    right: 0;
}

.madeofsteal h2.headpart {
    font-size: 80px;
    color: #2960a3;
    font-weight: normal;
    line-height: 120px;
}

.madeofsteal h2.headpart span.big {
    font-size: 115px;
}

.madeofsteal  p {
    color: #4477e2;
}

.madeofsteal .btmleft {
    margin-top: 70px;
    border-top: 1px solid #4477e2;
    padding-top: 30px;
}

.madeofsteal.container-fluid {
    padding-bottom: 40px;
	padding-right: 0px;
}
.madeofsteal.container-fluid .row {
    margin-right: 0;
}
.producte-section {
    position: relative;
    min-height: 800px;
}

.producte-section .btmright {
    bottom: auto;
    top: -260px;
    right: 0;
}

.producte-section .btmright img {
    width: 100%;
}

.producte-section h2.headpart {
    font-size: 70px;
    color: #2960a3;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 0;
}

.producte-section .colsm8 {
    text-align: right;
    position: absolute;
    bottom: 0px;
    top: auto;
    right: 50px;
}

.producte-section .colsm8 p {
    font-size: 50px;
    color: #4477e2;
    margin-top: 0;
    line-height: normal;
}

.producte-section button.btn {
    position: absolute;
    bottom: 0;
    right: auto;
    left: auto;
    margin: auto;
}

.service-section-btm.container-fluid {
    padding-right: 0px;
    margin-top: 110px;
}

.service-section-btm.container-fluid .row {
    margin-right: 0;
	display: flex;
}

.serviceimg img {
    width: 100%;
}

.service-section-btm .tophead p {
    color: #4477e2;
    font-size: 29px;
    font-weight: bold;
}

.service-section-btm.container-fluid .tophead {
    margin-top: 50px;
    margin-bottom: 50px;
}

.service-section-btm.container-fluid .tophead .moreinfo {
    text-align: right;
    margin-top: 30px;
}

.service-section-btm.container-fluid .tophead .moreinfo a.btn {
    background: #4477e2;
    border: 0;
    color: #fff;
    border-radius: 0;
    padding: 2px 20px 4px 20px;
    line-height: normal;
}

.service-section-btm .rightcol {
    height: 100%;
    background: #4477e2;
    width: 90%;
    float: right;
}

.service-section-btm .rightcol span.rightbluepart {
    height: 500px;
    width: 90%;		
}

.service-section-btm .btmpart {
    text-align: right;
    margin-top: 40px;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.service-section-btm .btmpart h2 {
    font-weight: bold;
    color: #4477e2;
    font-size: 35px;
    border-bottom: 1px solid #4477e2;
    padding-bottom: 40px;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 0;
}

.service-section-btm .btmpart .orangebox {
    position: absolute;
    left: 0;
    width: 100px;
    height: 100%;
    background: #f25832;
    bottom: 0;
    top: 0;
}
.ms-section-btm.container-fluid {
    padding-right: 0;
}

.ms-section-btm.container-fluid > .row {
    margin-right: 0;
    display: flex;
    align-items: center;
}

.ms-section-btm .productbox {
    position: relative;
}

.ms-section-btm .productbox .title {
    position: absolute;
    bottom: 0;
    right: 20px;
    top: 10px;
    color: #fff;
    font-size: 30px;
}

.ms-section-btm .tophead h2 {
    font-size: 170px;
    color: #4477e2;
    line-height: 80px;
}

.ms-section-btm .tophead h2 span.big {
    font-size: 70px;
}
.ms-section-btm.container-fluid .row.mt-10 {
    margin-top: 25px;
}

.footer-section-btm {
    padding-right: 0;
    padding-bottom: 0;
	margin-top:20px;
	padding-bottom:50px;
	background: #36609d;
}

.footer-section-btm a.topicon {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background: #fff;
    color: #e46329;
    padding: 10px 20px;
    font-size: 20px;
}

.footer-section-btm .bl-space {
    background: #4477e2;
    height: 400px;
}

.footer-section-btm .row {
    margin-right: 0;
}

.btmrightl {
    text-align: right;
    margin-top: 30px;
}
.footer-section-btm .logobrand img {
    max-width: 100px;
}

footer a.logobrand {
    margin-bottom: 0;
    display: block;
    margin-top: 20px;
    padding: 10px;
    background: #fff;
    display: inline-block;
}

.footerbox {}

.footerbox .address {
    color: #fff;
    margin: 20px 0;
}

.footerbox .socialico a {
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    border: 1px solid #fff;
    width: 32px;
    display: flex;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
    height: 32px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.socialico {
    display: flex;
}

.footerbox h3.headtop {
    font-weight: bold;
    color: #fff;
    font-size: 17px;
}

.footerbox ul {
    margin: 0;
    padding: 0;
}

.footerbox ul li {
    list-style: none;
    margin: 10px 0;
}

.footerbox ul li a {
    color: #fff;
    font-size: 14px;
}

.footerbox {
    font-size: 14px;
    color: #fff;
}

.newsltr {
    margin-bottom: 10px;
    display: flex;
}

.newsltr input[type="text"] {
    border: 1px solid #fff;
    padding: 4px 10px;
}

.newsltr button {
    border: 0;
    background: #ee5e2a;
    color: #fff;
    padding: 1px 10px;
}

/* Note: Try to remove the following lines to see the effect of CSS positioning */
  nav.navbar.navbar-default.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  nav.navbar.navbar-default.affix + .container-fluid {
    padding-top: 70px;
  }
  
  nav.navbar.navbar-default.affix {
    background: #4477e2;
    transition: .5s ease;
    
}
nav.navbar.navbar-default.affix li a {
    color: #fff !important;
	transition: .3s ease;
}
nav.navbar.navbar-default.affix li:first-child a {
    padding-left: 15px;
}
nav.navbar.navbar-default.affix li:last-child a {
    padding-right: 15px;
}
.navbar-default ul.navbar-nav li a:hover, .navbar-default ul.navbar-nav li.active a {
    color: #f25832 !important;
}
nav.navbar.navbar-default.affix div#myNavbar {
    margin: 10px 0;
}

nav.navbar.navbar-default.affix .container-fluid {
    padding: 0px 60px 0px 60px;
}

nav.navbar.navbar-default.affix div#myNavbar{
	padding:0
}

.topheader.navbar.navbar-default {box-shadow: 0 0 0 2px #f5f5f5;z-index: 9;}

.topheader.navbar.navbar-default .container-fluid {
    display: flex;
    justify-content: space-between;
}

.topheader.navbar.navbar-default::before {
    display: none;
}

.topheader.navbar.navbar-default .container-fluid::before {
    display: none;
}

.topheader.navbar.navbar-default .container-fluid::after {
    display: none;
}

.topheader.navbar.navbar-default .container-fluid .rightnav ul {
    display: flex;
    border: 0;
    padding: 0;
}

.topheader.navbar.navbar-default .container-fluid .rightnav ul li {
    margin: 0 20px;
}

.topheader.navbar.navbar-default .container-fluid .rightnavsec {
    display: flex;
    align-items: center;
}

.insidepage .leftfixed {
    z-index: 999;
}

.insidepage .leftfixed {
    z-index: 999;
}

.insidepage nav.navbar.navbar-default {
    background: #4477e2;
    z-index: 9;
}

.insidepage nav.navbar.navbar-default div#myNavbar {
    margin: 10px 0;
}

.insidepage nav.navbar.navbar-default div#myNavbar ul li a {
    color: #fff !important;
    transition: .3s ease;
}

.insidepage nav.navbar.navbar-default div#myNavbar ul li a:hover {
    color: #f05a21 !important;
}

.inside-banner {
    padding: 0px 0px 0px 0px;
    margin-bottom:20px;
}



.homedemo2 .owl-nav img:nth-child(1){
    width: 50px;
}


.homedemo2 .owl-prev, .homedemo2 .owl-next {
    position: absolute;
    transition: 0.5s;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
}
.homedemo2 .owl-prev{
    left: 15px;
}
.homedemo2 .owl-next{
    right: 15px;
}
.homedemo2 .owl-prev:hover , .homedemo2 .owl-next:hover{
    background: transparent !important;
    opacity: 0.9;
}

.homedemo2 .owl-dots{
    position: absolute;
    bottom:-40px;
    left:50%;
    transform: translateX(-50%);
    padding: 5px 5px 2px 5px; 
    border-radius: 20px;
    display: flex;
}
.homedemo2 .owl-dot:hover span{
    background: #4477e2!important;
}
.homedemo2 .active span {
    background: #4477e2 !important;
}

.homedemo2 .owl-dots button.owl-dot.active {}

.homedemo2 .owl-dots button.owl-dot {
    margin: 0 5px;
    padding: 0px 0 !important;
    width: auto;
    height: auto;
    display: flex;
}

.homedemo2 .owl-dots button.owl-dot span {
    padding: 5px;
    background: #d4d4d4;
    border-radius: 30px;
    line-height: 0;
}
.probox {
    text-align: center;
}

.probox a p {
    color: #333;
    line-height: 24px;
}

.probox .image {
    margin-bottom: 15px;
}

.probox a {
    text-decoration: none;
}

.about-first-p .colright {
    width: 75%;
    text-align: justify;
}

.about-first-p .colright h2.headpart {
    font-size: 90px;
    line-height: 60px;
    font-weight: bold;
    text-align: justify;
    position:relative;
}

.about-first-p .colright h2.headpart:after {
    background: #ea5e2a;
    height: 3px;
    width: 300px;
    display: block;
    content: "";
    position: absolute;
    right: 10px;
    bottom: -10px;
}

.about-first-p .colright h2.headpart span.big {
    font-size: 40px;
    font-weight: normal;
}

.madeofsteal.container-fluid.about-first-p .row {
    align-items: center;
    display: flex;
}

.about-first-p.madeofsteal .colright p {
    color: #000;
}

.colrightfl .btmright {
    bottom: -60px;;
}


.colrightfl {
    position: relative;
}

.colrightfl:after {
    display: block;
    content: "";
    height: 90%;
    width: 48px;
    background: #ea5e2a;
    position: absolute;
    right: -15px;
    top: 8%;
    bottom: 0;
}

.about-second-p .d-flex {
    display: flex;
}

.about-second-p .d-flex .box {
    padding: 10px 20px;
    text-align: center;
}

.wthhead-abtp .head-part.noafter {
    margin-bottom: 5px;
}

.wthhead-abtp .head-part h2 {
    color: #4477e2;
    font-size: 46px;
    margin-bottom: 0;
}

.about-second-p .d-flex .box .image {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}

.about-second-p .d-flex .box .image:after {
    content: "";
    display: block;
    border-left: 14px solid transparent;
    border-right: 13px solid transparent;
    border-top: 17px solid #ea5e2a;
    position: absolute;
    right: auto;
    left: auto;
    bottom: -30px;
}

.about-second-p .d-flex .box .content {
    margin-top: 60px;
}

.about-second-p .d-flex .box .content h3 {
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.about-second-p .d-flex .box .content p {
    font-size: 14px;
    line-height: 19px;
}

.about-second-p.about-third-p {}

.wthhead-abtp .head-part {
    margin-bottom: 50px;
}

.wthhead-abtp .head-part h2 {
    position: relative;
    display: inline-block;
}

.wthhead-abtp .head-part h2:after {
    background: #ea5e2a;
    height: 3px;
    width: 300px;
    display: block;
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
}
.abt-team-section.team-section.wthhead-abtp .head-part h2 {
    margin-bottom: 22px;
    margin-top: 40px;
}

.abt-team-section.team-section.wthhead-abtp .head-part p {
    font-size: 18px;
}

.productpage .producte-section .btmright {
    top: 0px;
	position: relative;
}

.productpage .producte-section .btmright img {
    max-width: 100%;
}

.productpage .producte-section .colsm8 {
    text-align: left;
    position: relative;
    bottom: 0px;
    top: auto;
    right: 0;
}

.productpage .producte-section .colsm8 h2.headpart {font-size: 60px;}


.productpage .producte-section .colsm8 h2.headpart span.range {
    color: #ec5f2a;
}

.producte-section .colsm8n {
    position: relative;
    bottom: 0px;margin-top: 50px;
}
.producte-section.container-fluid.madeofsteal {
    min-height: 950px;
}

.producte-section .colsm8n:after {
    width: 20px;
    height: 100%;
    display: block;
    background: #ec5f2a;
    position: absolute;
    right: 0;
    content: "";
}

.madeofsteal.container-fluid.manufacpart {}

.madeofsteal.container-fluid.manufacpart h2.headpart {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: normal;
}

.madeofsteal.threeslmadeofsteal {
    background: #2780c4;
    color: #fff;
    font-weight: normal;
	padding-top:150px;
	padding-bottom:50px;
	margin-top: -10em;
}

.madeofsteal.threeslmadeofsteal .probox p {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}

.madeofsteal.threeslmadeofsteal .probox .image img {
    /*max-width: 1070px;*/
    max-width: 650px;
    margin: auto;
}

.madeofsteal.threeslmadeofsteal .probox {
    padding: 0 90px;
}

.madeofsteal.threeslmadeofsteal .probox .owl-controls {}

div.madeofsteal.threeslmadeofsteal button.owl-next {
    right: 0;
    left: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 30px;
}

div.madeofsteal.threeslmadeofsteal button.owl-prev {
    right: auto;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 30px;
}

span.orange {
    color: #ec5f2a;
}

.qultyrow .homedemo3 small {
    text-transform: uppercase;
    color: #000;
    letter-spacing: 2px;
    display: block;
    margin-top: 10px;
    margin-bottom: 0px;
}

  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  
  @media screen and (min-width: 1400px) {	  
    .client-logo img {
        width: 100%;
    }
}
  @media screen and (max-width: 1400px) {	  
	.producte-section .btmright img {
		max-width: 1140px;
	}
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
  
  
  
 .client-logo {
    margin-bottom: 15px;
}


.colleft h2 {
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 0;
}

.address,.phone {
    color: #333;
}

.contact-form .form-group .form-control {
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    padding: 10px 10px;
    height: auto;
}

.contact-form .form-group .form-control {
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    padding: 10px 10px;
    height: auto;
}

.contact-form button.btn.btn-lg.btn-danger {
    background: #ee5e2a;
    border: 0;
    border-radius: 0;
}

.head-part h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

.graybg {
    background: #f3f4f6;
    margin-top: 40px;
}

.parat h4 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}


.team-section h4 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.dflexdiv {
    display: flex;
}

.team-section img.tmimg {
    height: 290px;
    width: auto;
    object-fit: cover;
    box-shadow: 0px 5px 5px 1px #00000030;
    position: relative;
}
.teambox .info small {
    font-size: 11px;
    line-height: 15px;
    display: block;
    margin-bottom: 13px;
}
.wthhead-abtp .head-part.noafter h2:after {
    display: none;
}
.team-section p {
    text-align: center;
    font-size: 14px;
}

.team-section .col-sm-3 {
    text-align: center;
}
.teambox .info {
    background: #f0f0f0;
    margin-top: -10px;
    padding-top: 14px;
}

button#myBtn {}

.team-section .col-sm-3.teambox {
    padding: 0 6px;
}
.team-section button.knmore_link {
    background: #5071b7;
    border: 0;
    color: #fff;
    padding: 0px 10px;
    width: auto;
    margin-bottom: 19px;
}



/* Deeps*/

.madeofsteal p{font-size:22px;}
.featuresrow .homedemo3,.featuresrow .homedemo4{background:#ec5e2a; padding:50px;}
.featuresrow .homedemo3 h3,.featuresrow .homedemo4 h3{color: #fff; font-size:32px;}
.featuresrow .homedemo3 p,.featuresrow .homedemo4 p{color: #fff;}

.feabox{margin:50px;}

div.madeofsteal.featuresrow button.owl-prev {
    right: auto;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 30px;color: #fff;
}

div.madeofsteal.featuresrow button.owl-next {
    right: 0;
    left: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 30px;color: #fff;
}

.qultyrow p{font-size:22px;color: #000;}
.qultyrow .homedemo5{background:#f1f2f2; padding:50px; text-align:center;}
.qultyrow .homedemo5 h3{color: #000;    margin-top: 10px;}
.qultyrow .homedemo5 p{color: #7c7c7c;}
.qultybox{margin:50px;}


div.madeofsteal.qultyrow button.owl-prev {
    right: auto;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 30px;color: #8c8c8c;
}

div.madeofsteal.qultyrow button.owl-next {
    right: 0;
    left: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 30px;color: #8c8c8c;
}

.gerthte{background:#fff; padding:50px;}
.gerthte .gerthterow h2{color: #fff; line-height: 80px;}
.gerthte .gerthterow p{color: #fff;}

.gerthterow{margin:0 30px; background:#2678bb; padding:50px; text-align:center; margin-right: 0;}


.productpage.productpage-rev .producte-section.madeofsteal .btmright {
    position: relative;
    left: -25px;
    right: auto;
}

.productpage.productpage-rev .producte-section.madeofsteal .btmright img {
    max-width: 1000px;
}

.productpage.productpage-rev  .producte-section h2.headpart.uppercase {
    text-align: right;
    padding-right: 30px;
}

.inside-banner.containerfluid.aboutusbanner.aboutusbannern {
    padding-left: 80px;
}